:root {
  color-scheme: light dark;
  font: 16px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  overscroll-behavior: none;
}

body {
  overflow: hidden;
}
